


Body{
    background-color: red;
    Border: Solid white;
    width: 30rem;
    Margin: 0 auto;
    
    
}
p, ol{ 
    font-size: 1rem;
    Margin: 0 1rem 0 1rem;
    font-family: Righteous, 
    
        
}
 

h1{font-size: 4rem; color: black;
   Margin: 1rem 1rem 1rem; 
   font-family: 'Pacifico', cursive;
  
         
    }
    ol{
        font-weight: bold;
        font-style: italic;

    }
    .Namebold{
     font-weight: bold;   
    }
img{
    Border: 10px solid black;
    Padding-right:0 
}

.Float{
    Float: Left;
    Margin-right: 1rem;
    
    
  
    
}